[submodule "templates/exherbo"]
	path = templates/exherbo
	url = git://github.com/vtolstov/packer-exherbo.git
	branch = master
[submodule "templates/archlinux"]
	path = templates/archlinux
	url = git://github.com/vtolstov/packer-archlinux.git
	branch = master
[submodule "templates/centos"]
	path = templates/centos
	url = git://github.com/vtolstov/packer-centos.git
	branch = master
[submodule "templates/debian"]
	path = templates/debian
	url = git://github.com/vtolstov/packer-debian.git
	branch = master
[submodule "templates/fedora"]
	path = templates/fedora
	url = git://github.com/vtolstov/packer-fedora.git
	branch = master
[submodule "templates/freebsd"]
	path = templates/freebsd
	url = git://github.com/vtolstov/packer-freebsd.git
	branch = master
[submodule "templates/gentoo"]
	path = templates/gentoo
	url = git://github.com/vtolstov/packer-gentoo.git
	branch = master
[submodule "templates/opensuse"]
	path = templates/opensuse
	url = git://github.com/vtolstov/packer-opensuse.git
	branch = master
[submodule "templates/ubuntu"]
	path = templates/ubuntu
	url = git://github.com/vtolstov/packer-ubuntu.git
	branch = master
[submodule "templates/mighost"]
	path = templates/mighost
	url = git@github.com:vtolstov/packer-mighost.git
	branch = master
[submodule "templates/clodo"]
	path = templates/clodo
	url = ssh://git@stash.clodo.ru/cl15/packer-clodo.git
	branch = master
[submodule "templates/clodo2"]
	path = templates/clodo2
	url = ssh://git@stash.clodo.ru/clodo/packer-clodo2.git
	branch = master
[submodule "templates/coreos"]
	path = templates/coreos
	url = git://github.com/vtolstov/packer-coreos.git
	branch = master
[submodule "templates/altlinuxspt"]
	path = templates/altlinuxspt
	url = git://github.com/vtolstov/packer-altlinuxspt.git
	branch = master
[submodule "templates/altlinux"]
	path = templates/altlinux
	url = git://github.com/vtolstov/packer-altlinux.git
	branch = master
[submodule "templates/openbsd"]
	path = templates/openbsd
	url = git://github.com/vtolstov/packer-openbsd.git
	branch = master
[submodule "templates/freepbx"]
	path = templates/freepbx
	url = git://github.com/vtolstov/packer-freepbx.git
	branch = master
[submodule "templates/wordpress"]
	path = templates/wordpress
	url = git://github.com/vtolstov/packer-wordpress.git
	branch = master
[submodule "templates/joomla"]
	path = templates/joomla
	url = git://github.com/vtolstov/packer-joomla.git
	branch = master
[submodule "templates/bitrixenv"]
	path = templates/bitrixenv
	url = git://github.com/vtolstov/packer-bitrixenv.git
	branch = master
[submodule "templates/drupal"]
	path = templates/drupal
	url = git://github.com/vtolstov/packer-drupal.git
	branch = master
[submodule "templates/ajenti"]
	path = templates/ajenti
	url = git://github.com/methodx/packer-ajenti.git
	branch = master
[submodule "templates/dokku"]
	path = templates/dokku
	url = git://github.com/methodx/packer-dokku.git
	branch = master
[submodule "templates/lamp"]
	path = templates/lamp
	url = git://github.com/vtolstov/packer-lamp.git
	branch = master
[submodule "templates/django"]
	path = templates/django
	url = git://github.com/vtolstov/packer-django.git
	branch = master
